[submodule "projects/specification"]
	path = projects/specification
	url = https://github.com/pognetwork/specification
[submodule "projects/champ"]
	path = projects/champ
	url = https://github.com/pognetwork/champ
[submodule "projects/proto"]
	path = projects/proto
	url = https://github.com/pognetwork/proto
